body {
  font-family: Arial, Helvetica, sans-serif;
}

.shirt-title {
  font-size: 18px;
}

.price {
  font-size: 14px;
}

button {
  padding: 4px 6px;
  font-size: 11px;
}

.add-to-cart-btn {
  background-color: yellow;
}

.buy-now-btn {
  background-color: orange;
}